<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>New Post</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <img class="back-img" src="assets/img/fundo.gif" alt="wallpaper">
  <form>
    <div class="img">
      <input class="arquivo" type="file" id="file" accept="image/*" required>
      <label for="file"><i class='bx bx-image-alt'></i>Selecione uma Imagem</label>
    </div>
    <div class="input">
      <ion-item>
        <ion-label position="floating">Título da Postagem</ion-label>
        <ion-input type="text" name="title" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Texto da Postagem</ion-label>
        <ion-textarea name="text" rows="5" required></ion-textarea>
      </ion-item>
    </div>

    <!-- <button class="enviar" shape="round" type="submit">Enviar Postagem <ion-icon slot="end" name="send"></ion-icon>
    </button> -->

    <button class="enviar">Enviar Postagem <i class='bx bxs-send'></i></button>
  </form>

</ion-content>
