.enviar {
  margin-top: 10px;
  padding: 10px 25px;
  background-color: var(--ion-color-primary);
  color: aliceblue;
  margin-left: 50%;
  transform: translate(-50%);
  border-radius: 10px;

}

.img {
  margin-top: 10px;
  width: 90%;
  border-radius: 10px;
  background-color: var(--ion-color-secondary);
  padding: 10px;
  color: aliceblue;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
}


.img i{
  margin-right: 10px;
}

.input {
  margin: 10px;
}

input[type="file"] {
  display: none;
}


// label {
//   margin-left: 50%;
//   transform: translatex(-50%);
//   height: auto;
//   width: 70%;
//   background-color: var(--ion-color-secondary);
//   color: white;
//   border: 10px;
//   border-radius: 30px;
//   align-items: center;
//   justify-content: center;
//   text-align: center;
//   font-size: 3vw;
//   padding: 15px;
//   box-sizing: border-box;
// }


form {
  margin-top: 20%;
  width: 90%;
  margin-left: 5%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  box-sizing: border-box;
}
