<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Nova Postagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    
    <form >
      <div class="img" >
        <ion-item >
          <ion-label position="stacked"></ion-label>
          <input class="arquivo" type="file" id="file" accept="image/*" required >
          <label for="file"><ion-icon class="icone" name="images"></ion-icon>Selecione uma Imagem</label>
        </ion-item>
      </div>  
      <div class="input">
      <ion-item>
        <ion-label position="floating">Título da Postagem</ion-label>
        <ion-input type="text" name="title" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Texto da Postagem</ion-label>
        <ion-textarea name="text" rows="5" required></ion-textarea>
      </ion-item>
    </div>
      <ion-button shape="round" type="submit">Enviar Postagem <ion-icon slot="end" name="send"></ion-icon> </ion-button>
    </form>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
