<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="fecharModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Publication Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="publication-details">
    <img src="{{ post.img }}" alt="{{ post.title }}">
    <h2>{{ post.title }}</h2>
    <p>Author: {{ post.autor }}</p>
    <p>{{ post.text }}</p>
  </div>
</ion-content>
