<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section id="sec1">
    <div class="main">
      <img src="assets/img/grid-blog-4-570x350.jpg">
      <div class="txt">
        <p>Sed do eiusmod Nibh cras pulvinar mattis nunc sed blandit. Ornare
          suspendisse sed nisi lacus sed viverra Tellus.</p>
      </div>
      <button>Ver mais</button>
    </div>
  </section>
  <section id="sec2">
    <h1 class="title">Programas acadêmicos</h1>
    <div class="card-group">
      <div class="card-item">
        <div class="item">
          <i class='bx bxs-shopping-bag'></i>
        </div>
        <p class="tt">vendas</p>
      </div>
      <div class="card-item">
        <div class="item">
          <i class='bx bxs-shopping-bag'></i>
        </div>
        <p class="tt">vendas</p>
      </div>
      <div class="card-item">
        <div class="item">
          <i class='bx bxs-shopping-bag'></i>
        </div>
        <p class="tt">vendas</p>
      </div>
      <div class="card-item">
        <div class="item">
          <i class='bx bxs-shopping-bag'></i>
        </div>
        <p class="tt">vendas</p>
      </div>
      <div class="card-item">
        <div class="item">
          <i class='bx bxs-shopping-bag'></i>
        </div>
        <p class="tt">vendas</p>
      </div>
      <div class="card-item">
        <div class="item">
          <i class='bx bxs-shopping-bag'></i>
        </div>
        <p class="tt">vendas</p>
      </div>
      <div class="card-item">
        <div class="item">
          <i class='bx bxs-shopping-bag'></i>
        </div>
        <p class="tt">vendas</p>
      </div>
    </div>
  </section>
  <section id="sec3">

  </section>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
