login-container {
  margin-top: 10rem;

}

ion-button {
  margin-top: 0.85rem;
  
}

@media(min-width:900px) {
  login-container {
    width: 70%;
    margin-left: 50%;
    transform: translate(-50%);
  }

  ion-item {
    font-size: 20px;
  }

  ion-button {
    font-size: 20px;
  }
}
ion-card-title{
  margin-top:1.5rem;
  text-align: center;
}