
<ion-content>
  <div class="background">
    <div class="login-container">
      <ion-card class="card">
        <img class="logo" src="\assets\logo\6.png" alt="">
        <h1>Login</h1>
        <ion-card-content class="text" style="margin-left: 50%;transform: translate(-50%);">
          <div class="item">
            <input class="input" type="email" [(ngModel)]="email" placeholder="Email">
          </div>
          <div class="item">
            <input class="input" type="password" [(ngModel)]="senha" placeholder="Senha">
          </div>
          <ion-button class="button" (click)="login()">Entrar</ion-button>
        </ion-card-content>
        <p>Não possui uma conta?<a [routerLink]="['/cadastro']"> Cadastre-se</a> </p>
        <p *ngIf="mensagem">{{mensagem}}</p>
      </ion-card>
    </div>
  </div>
</ion-content>
