/* Estilize a caixa de resposta */
.faq-item {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilize a caixa de pergunta */
  ion-label {
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #333;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  /* Personalize a resposta */
  .faq-item.active {
    max-height: 1000px; /* Ou um valor suficientemente grande para acomodar o conteúdo da resposta */
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  /* Personalize o button */
  .bx {
    font-size: 15px;
    background-color: #8B1874; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 5px 10px; /* Espaçamento interno */
    border: none; /* Remova a borda */
    border-radius: 2px; /* Borda arredondada */
  
    transition: background-color 0.3s ease; /* Efeito de transição suave na cor de fundo */

}
.bx:hover {
    background-color: #B71375; /* Cor de fundo alterada ao passar o mouse */
}
.resposta {
    padding: 50px;
    color:#8B1874;
    

}