.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container nav {
    position: relative;
    min-height: 50px;
    height: 8vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

.container nav::after {
    content: "";
    background: rgb(255, 255, 255);
    width: 100%;
    height: 1px;
    position: absolute;
    top: 85%;
    filter: blur(0.5px);
}

.container nav label {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-size: 3vw;
    font-weight: 600;
    transition: all 0.3s ease;
    padding-top: 0.5vw;

}

.background {
    width: 100%;
    display: flex;
    background-color: var(--ion-color-tertiary);
    padding-bottom: 8px;
    padding: 0.8vw 0 1vw;
    color: aliceblue;
}

#fundamentos:checked~nav label .movel,
#fundamentos:checked~nav label .fundamentos,
#fundamentos:checked~nav label .privacidade,
#fundamentos:checked~nav label .conta {
    color: aliceblue;
}

input[type='radio'] {
    display: none;
}

.container nav .slider {
    position: absolute;
    height: 1vw;
    background-color: aliceblue;
    border-radius: 20px;
    width: 20%;
    z-index: 1;
    left: 0;
    top: 80%;
    transition: all 0.3s ease;
    filter: (blur 0.4px);
}

#fundamentos:checked~nav .slider {
    left: 24%;
    width: 23%;
}

#privacidade:checked~nav .slider {
    left: 53%;
}

#conta:checked~nav .slider {
    left: 80%;
}

#movel:checked~nav .movel,
#fundamentos:checked~nav .fundamentos,
#privacidade:checked nav .privacidade,
#conta:checked nav .conta {
    font-size: 3.2vw;
}




#movel:checked~section .content-1,
#fundamentos:checked~section .content-2,
#privacidade:checked~section .content-3,
#conta:checked~section .content-4 {
    display: block;
}


@media (min-width:990px) {
    .container nav .slider {
        position: absolute;
        height: 0.8vw;
        background-color: aliceblue;
        border-radius: 20px;
        width: 20%;
        z-index: 1;
        left: 0;
        top: 72%;
        transition: all 0.3s ease;
        filter: (blur 0.4px);
    }

    .container nav::after {
        content: "";
        background: rgb(255, 255, 255);
        width: 100%;
        height: 1px;
        position: absolute;
        top: 78%;
        filter: blur(0.5px);
    }

    .background {
        width: 100%;
        display: flex;
        background-color: var(--ion-color-tertiary);
        padding-bottom: 5px;
        padding: 0.5vw 0 0;
        color: aliceblue;
    }

}

@media (max-width:635px) {
    .container nav .slider {
        position: absolute;
        height: 1vw;
        background-color: aliceblue;
        border-radius: 20px;
        width: 20%;
        z-index: 1;
        left: 0;
        top: 82%;
        transition: all 0.3s ease;
        filter: (blur 0.4px);
    }
}

section {
    filter: blur (0.3px);
    display: flex;
    width: 100%;
    justify-content: left;
}

section .content {
    display: none;
    margin-bottom: 10px;
    padding-top: 2vw;
    max-width: 100%;
}

ion-list {
    background-color: transparent;
    font-size: 5vw;

}

ion-item-divider {
    width: 100%;
    background-color: transparent;
}

.item {
    width: 100%;
}

.cx-text {
    width: 100vw;
    cursor: pointer;
    font-weight: bold;
    font-size: 8vw;
    color: #333;
    opacity: 50%;
    background-color: transparent;
}

.pergunta {
    width: 100%;
    cursor: pointer;
    font-size: 2.7vw;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.resposta {
    padding: 10px;
    color: #8B1874;
    font-size: 2.5vw;
    opacity: 80%;
    margin-left: 15px;
}