<ion-header>

  <head>

    <script src="/src/assets/faq.js"></script>
  </head>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Pesquisar perguntas frequentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-list>
      <ng-container *ngFor="let group of faqGroups">
        <ion-item-divider> 
           <ion-label>{{ group.title }}</ion-label>
        </ion-item-divider>
      
        
          <ng-container *ngFor="let item of group.items">
            <ion-item (click)="toggleAnswer(item)">
              <ion-label >{{ item.question }}</ion-label>
            </ion-item>
           
            <ion-item *ngIf="item.expanded">
              <p>{{ item.answer }}</p>
            </ion-item>
          </ng-container>
        
      </ng-container>
    </ion-list>
  </ion-content>



</ion-content>