<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Pesquisar perguntas frequentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-list>
      <ng-container *ngFor="let group of faqGroups">
        <ion-item-divider> 
          <ion-label style="font-size: 20px; margin-top: 25px;">{{ group.title }}</ion-label>
        </ion-item-divider>
      
        
          <ng-container *ngFor="let item of group.items">
            <ion-item (click)="toggleAnswer(item)">
              <ion-label >{{ item.question }}</ion-label>
              <button class="icon"><i class='bx bx-chevron-down'></i></button>
            </ion-item>
           
            <div class="resposta" *ngIf="item.expanded">
             <strong><p>{{ item.answer }}</p></strong>
            </div>
          </ng-container>
        
      </ng-container>
    </ion-list>
  </ion-content>



</ion-content>