<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Meu perfil</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngFor="let n of nomes"> 
        <ion-list *ngIf="!n.editando">
          <ion-item>
            <ion-label>{{n.nome}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>{{n.bio}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>{{n.email}}</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-button fill="outline" size="default" (click)="n.editando = true">Alterar Dados</ion-button>
          </ion-item>  
        </ion-list>
        <ion-list *ngIf="n.editando">
          <ion-item>
            <ion-label position="stacked">Nome</ion-label>
            <ion-input [(ngModel)]="n.nome" name="nome"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Bio</ion-label>
            <ion-textarea [(ngModel)]="n.bio" name="bio" placeholder="Sobre você"></ion-textarea>
          </ion-item>  
          <ion-item>
            <ion-label position="stacked">E-mail</ion-label>
            <ion-input type="email" [(ngModel)]="n.email" name="email"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-button fill="outline" size="default" (click)="atualizarNome(n)">Salvar Alterações</ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
