<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img class="back-img" src="assets/img/fundo.gif" alt="wallpaper">
  <div class="container">
    <h1>Meu perfil</h1>
    <div class="content">
      <div class="lista" *ngIf="!editando">
        <p class="linha">{{ nomeUsuario }}</p>
        <p class="linha">{{ bio }}</p>
        <p class="linha">{{ email }}</p>
        <ion-button fill="outline" size="default" (click)="habilitarEdicao()">Alterar Dados</ion-button>
      </div>
      <div class="lista" *ngIf="editando">
        <label for="nome">Nome</label>
        <input id="nome" [(ngModel)]="novoNome" name="novoNome">
        <label>Bio</label>
        <textarea [(ngModel)]="novaBio" name="novaBio" placeholder="Sobre você"></textarea>
        <label for="email">E-mail</label>
        <input id="email" type="email" [(ngModel)]="novoEmail" name="novoEmail">
        <ion-button fill="outline" size="default" (click)="salvarAlteracoes()">Salvar Alterações</ion-button>
      </div>
    </div>
  </div>
</ion-content>
