<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
    <ion-menu-button color="light"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input [(ngModel)]="senha" type="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="registrar()">Cadastrar</ion-button>

  <ion-text color="danger" *ngIf="mensagem">{{ mensagem }}</ion-text>
</ion-content>
