<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content lass="ion-padding">
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Cadastro de Usuário</ion-card-title>
      </ion-card-header>
      <ion-card-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input [(ngModel)]="senha" type="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="registrar()">Cadastrar</ion-button>
   <ion-text color="danger" *ngIf="mensagem">{{ mensagem }}</ion-text><br>
       <a routerLink="/login">Já possui conta? Faça login</a>
  
</ion-card-content>
</ion-card>
</div>
</ion-content>

