<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <img src="assets/logo/6.png" alt="Logo" class="logo">
    <!-- <ion-title>Página Inicial</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="gradient-background">
    <div class="content">
      <div class="text-box">
        <h2>Bem vindo a FRAME <span>NEWS</span></h2>
        <p>Seja a primeira página do seu dia! Informação fresca,
          análises perspicazes e histórias que importam.
          Nosso blog de notícias mantém você à frente dos acontecimentos.<br>
          Leia, absorva, conecte-se.</p>
      </div>
      <div class="img-box">
        <img src="assets/logo/6.png" alt="Logo">
      </div>
    </div>
  </div>

  <section id="sec1">
    <h1 class="title">Cursos em destaque</h1>
    <div class="card-group">
      <div class="card" *ngFor="let post of postagem" (click)="abrirModal(post)">
        <div class="card-img"><img src="{{ post.img }}"></div>
        <div class="card-txt">
          <p class="p">{{ post.title }} - por {{ post.autor }}</p>
          <p class="hr">{{ post.text }}</p>
        </div>
      </div>
    </div>
  </section>
  
  <section id="sec2">
    <h1 class="title">Últimas postagens</h1>
    <div class="news">
      <div class="card-news" (click)="abrirModal(new)" *ngFor="let new of news">
        <img src="{{ new.img }}">
        <span>novo</span>
      </div>
    </div>
  </section>
  
</ion-content>
