.gradient-background {
  background: linear-gradient(300deg, #8b1874, #020101, #901a78);
  background-size: 180% 180%;
  animation: gradient-animation 27s ease infinite;
  height: 80vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.content .textBox {
  position: relative;
  max-width: 600px;
}

.content .text-box h2 {
  color: aliceblue;
  font-size: 5em;
  Line-height: 1.4em;
  font-weight: 500;
  font-family: 'Garet', sans-serif;
}

.content .text-box h2 span {
  color: var(--primary);
  font-family: 'Garet', sans-serif;

}

.content .text-box p {
  font-size: 1.2em;
  color: aliceblue;
  max-width: 900px;
}

.content .img-box {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
  margin-top: 50px;
}

.content .img-box img {
  max-width: 800px;
}

.title {
  margin: 40px 30px;
  text-align: center;
  border-bottom: 1px solid var(--ion-color-primary);
}

.card-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  position: relative;
  border: solid 1px var(--ion-color-primary);
  background-color: var(--ion-color-primary);
  box-sizing: border-box;
  width: 45%;
  height: 130px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.card-img {
  top: 0;
  z-index: 3;
  box-sizing: border-box;
  margin: 2px;
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 29px);
  transition: opacity 0.3s ease-in-out;

}

.card-img img {
  width: 100%;
  height: 100%;
}

.card .p {
  position: absolute;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  margin: 0;
  height: 25px;
  color: var(--ion-color-light);
  background-color: var(--ion-color-primary);
  border-top: solid 1px var(--ion-color-primary);

}

.card-news {
  position: relative;
  width: 90%;
  margin: 10px;
  margin-left: 5%;
}

.card-news span {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px 10px;
  background-color: var(--ion-color-primary);
  color: aliceblue;
}

.logo {
  width: 20vw;
}



@media(min-width:900px) {

  .carousel {
    overflow: hidden;
    width: 80%;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
  }

  .carousel-content {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-item {
    width: 100%;
    flex: 0 0 100%;
  }

  .carousel img {
    width: 100%;
    height: auto;
  }

  .title {
    margin: 40px 30px;
    text-align: center;
    border-bottom: 1px solid var(--ion-color-primary);
  }

  .card-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    position: relative;
    width: 40%;
    height: 200px;
    margin: 2.5%;
  }

  .card-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .card .p {
    position: absolute;
    bottom: 0;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
  }

  .card-img img {
    width: 100%;
    height: 100%;
  }

  .news {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card-news {
    position: relative;
    width: 40%;
    margin: 10px;
  }

  .card-news img {
    width: 100%;
    height: 100%;
  }

  .card-news span {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px 10px;
    background-color: var(--ion-color-primary);
    color: aliceblue;
  }

  .logo {
    width: 10vw;
  }
}

@media (min-width:1080px) {

  .card {
    position: relative;
    width: 40%;
    height: 20vw;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ion-color-primary);
    transition: transform 0.3s ease-in-out;
  }

  .card-img {
    z-index: 3;
    position: absolute;
    top: 0;
    width: calc(100% - 4px);
    height: calc(100% - 29px);
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
  }

  .card-img img {
    width: 100%;
    height: 100%;
  }

  .card .p {
    position: absolute;
    bottom: 0;
    margin: 0;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
  }

  .hr {
    position: absolute;
    z-index: 2;
    font-size: 40px;
    text-align: center;
    color: var(--ion-color-light);
    transition: opacity 0.3s ease-in-out;
  }

  .card:hover {
    transform: scale(1.01);
  }

  .card:hover>.card-img {
    opacity: 0;
  }

  .card:hover>.p {
    opacity: 0;
  }

  .card-news {
    width: 40%;
    margin: 2.5%;
    height: 300px;
  }

  .card-news img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width:800px) {
  .logo {
    width: 20vw;
  }
}