.carousel {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 100%;
}

.carousel img {
  width: 100%;
  height: auto;
}

.title{
  margin:40px 30px;
  text-align: center;
  border-bottom: 1px solid var(--ion-color-primary);
}

.card-group{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 5%;
}

.card-img{
  width: 40%;
}
